{% extends 'template_penyakit.html' %}
{% load static %}

{% block nama_penyakit %}
Anemia defisiensi besi pada kehamilan
{% endblock %}

{% block farmakologi %}
<h4>First line (kombinasi)</h4>
<h5>KDT garam Fe (setara 60 mg Fe elemental) + asal folat 0,4 mg 1x1 </h5>

<br><br><br><br>
<h4>First line (lepasan)</h4>
<h5>1. Sulfas ferosus (garam Fe) setara Fe elemental 60 mg 1x1</h5>
<h5>2. Asam folat 1x0,4 mg</h5>
<h5>3. VItamin C (asam askorbat) 1x50 mg</h5>
{% endblock %}

{% block non_farmakologi %}
Nutrisi sesuai gizi seimbang
<ul>
    <li>Makan pagi: nasi {{nasi_pagi}} centong</li>
    <li>Makan siang: nasi {{nasi_siang}} centong</li>
    <li>Makan malam: nasi {{nasi_malam}} centong</li>
    <li><em>Lauk tinggi zat besi (seperti daging merah, ati, dll.)</em></li>
    <img width="400px" src="https://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/23_Juli_2018_03.png" alt="">
</ul>
{% endblock %}


{% block edukasi %}
<ul>
    <li>Target kenaikan Hb: 2 g/dL tiap 3 minggu</li>
    <br>
    <li>Penyebab anemia pada ibu hamil: </li>
    <img width="400px" src="https://cdn.discordapp.com/attachments/942253001819709470/942963079136829440/unknown.png" alt="">
    <br><br><br>
    <li>Dampak anemia pada ibu hamil: </li>
    <img width="400px" src="https://cdn.discordapp.com/attachments/942253001819709470/942963286155092018/unknown.png" alt="">
    <br><br><br>
    <li>Cara minum TTD yang efektif: </li>
    <img width="400px" src="https://cdn.discordapp.com/attachments/942253001819709470/942963595833139261/unknown.png" alt="">
</ul>
{% endblock %}

{% block sumber %}

{% endblock %}