{% extends 'template_penyakit.html' %}
{% load static %}

{% block nama_penyakit %}
Diare akut tanpa dehidrasi
{% endblock %}

{% block farmakologi %}
2. Zink selama 10 hari, habiskan
Usia <6 bulan: 10 mg
Usia >=6 bulan: 20 mg

3. Antibiotik (bila diindikasikan)
-Kolera: tetrasiklin 4x12,5 mg/kg/kali
-Amebiasis, giardiasis: metronidazol 3x30-40 mg/kg/hari

<h5>1. Oralit: {{oralit_muntah}} ml tiap muntah; {{oralit_bab}} ml tiap BAB cair</h5>
<h5>
    2. Zink selama 10 hari:
    {% if lt_6 %}
    10 mg
    {% else %}
    20 mg
    {% endif %}
</h5>

<h5>
    3. Antibiotik (bila diindikasikan):
    <li>Kolera: Tetrasiklin 4x{{kolera}}</li>
    <li>Amebiasis, Giardiasis: Metronidazol {{amebiasis}} mg</li>
</h5>
{% endblock %}

{% block non_farmakologi %}
<ul>
    <li>Menanyakan berat badan sebelum diare</li>
    <li>Tidak memberikan obat-obatan antidiare, antibiotik, atau antiparasit tanpa indikasi</li>
    <li>Indikasi rujuk: diare melanjut (diare >7 hari), anak gagal tumbuh, intake sulit</li>
</ul>
{% endblock %}

1. 
2.
3. 
4. -cuci tangan 6 langkah https://farmalkes.kemkes.go.id/wp-content/uploads/2022/03/29_6-Langkah-Cuci-Tangan-scaled.jpg  
-waktu penting mencuci tangan http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/21_September_08.png  
5. Melanjutkan imunisasi anak: 
-imunisasi dasar: https://promkes.kemkes.go.id/wp-content/uploads/2018/07/imun1.png 
-imunisasi lanjutan: https://promkes.kemkes.go.id/wp-content/uploads/2018/07/imun2.png 
6. Kontrol dalam 7 hari
7. Mengetahui tanda bahaya (apabila ada salah satu saja, segera datang ke IGD):
                ○ Tidak ada perbaikan dalam 3 hari
                ○ Muntah berulang
                ○ Peningkatan rasa haus
                ○ Makan/minum berkurang
                ○ Anak jadi mengantuk
                ○ Demam
                ○ BAB berdarah

{% block edukasi %}
Menjaga kebersihan mulut dan tangan:
<ul>
    <li>Cara pemberian Oralit: 1 sachet oralit dapat dilarukan dalam 200 ml (1 gelas biasa) air biasa (tidak dingin dan tidak panas). </li>
    <li>Cara pemberian Zink: Apabila menggunakan zink tablet, larutkan zink tablet dalam 1 sendok makan air biasa (tidak dingin dan tidak panas). Zink harus diminum selama 10 hari</li>
    <li>Melanjutkan ASI dan makanan</li>
    <li>Kontrol dalam 7 hari</li>
    <li>
        Mengetahui tanda bahaya (apabila ada salah satu saja, segera datang ke IGD):
        <ul>
            <li>Tidak ada perbaikan dalam 3 hari</li>
            <li>Muntah berulang</li>
            <li>Peningkatan rasa haus</li>
            <li>Makan/minum berkurang</li>
            <li>Anak jadi mengantuk</li>
            <li>Demam</li>
            <li>BAB berdarah</li>
        </ul>
    </li>
    <li>Cuci tangan 6 langkah</li>
    <img width="400px" src="https://farmalkes.kemkes.go.id/wp-content/uploads/2022/03/29_6-Langkah-Cuci-Tangan-scaled.jpg" alt="">
    <br><br><br>
    <li>
        Melanjutkan imunisasi anak
        <ul>
            <li>Imunisasi Dasar</li>
            <img width="400px" src="https://promkes.kemkes.go.id/wp-content/uploads/2018/07/imun1.png" alt="">
            <br>
            <li>Imunisasi Lanjutan</li>
            <img width="400px" src="https://promkes.kemkes.go.id/wp-content/uploads/2018/07/imun2.png" alt="">
        </ul>
    </li>
    
</ul>
{% endblock %}

{% block sumber %}
<ol>
    
</ol>
{% endblock %}