{% extends 'template_penyakit.html' %}
{% load static %}

{% block nama_penyakit %}Diabetes Mellitus tipe 2{% endblock %}

{% block farmakologi %}

<h4>First line (monoterapi)</h4>
<h5>1. Metformin 1-3x500-1000 mg bersama/sesudah makan</h5>
<h5>2. sulfonilurea: glibenklamid 1-2x2,5-5 mg; glimepiride 1x1-4 mg:glipizid  1x5-10 mg</h5>

<br><br><br><br>
<h4>First line (kombinasi)</h4>
<h5>1. Metformin+SU</h5>
{% endblock %}


{% block non_farmakologi %}
<ul>
    <li>Skrining TB</li>
    <li>{{frekuensi_aktivitas}}</li>
    <li>Nutrisi sesuai gizi seimbang
        <ul>
            <li>Makan pagi : nasi {{nasi_pagi}} centong</li>
            <li>Makan siang: nasi {{nasi_siang}} centong</li>
            <li>Makan malam: nasi {{nasi_malam}} centong</li>
            <li><em>Lauk menyesuaikan</em></li>
            <img width="400px" src="https://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/23_Juli_2018_03.png" alt="">
        </ul>
    </li>

    
</ul>
{% endblock %}


{% block edukasi %}
<ul>
    <li>Mengajak keluarga mendukung pengobatan DM</li>
    <li>Mengetahui tanda hipoglikemia dan cara mengatasinya</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/24_Juni_01.png " alt="">
    <br><br><br>
    <li>Perawatan kaki:</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/27_November_08.png" alt="">
    <br><br><br>
    <li>Batasi gula maksimal 4 sendok makan per hari</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/8_Januari_2021_05.png" alt="">
</ul>
{% endblock %}

{% block sumber %}
<ol>
    <li>Perkumpulan Endokrinologi Indonesia. Pedoman Pengelolaan dan Pencegahan Diabetes Melitus Tipe 2 Dewasa di Indonesia. Jakarta. PB PERKENI; 2021. </li>
</ol>
{% endblock %}