{% extends 'template_penyakit.html' %}
{% load static %}

{% block nama_penyakit %}
<ul>
    <li>Hipertensi Esensial</li>
    <li>Diabetes Mellitus tipe 2</li>
    <li>Tuberkulosis Paru tanpa komplikasi </li>
    <!-- <li></li> obesitas -->
</ul>
{% endblock %}

{% block farmakologi %}

{% endblock %}


{% block non_farmakologi %}
<h4>
    Merujuk pasien karena komorbid untuk mendapatkan obat 
    yang tersedia di fasilitas kesehatan tingkat lanjut 
    (FKTL) dan evaluasi komplikasi dengan lebih ketat
</h4>
{% endblock %}


{% block edukasi %}

{% endblock %}