{% extends 'template_penyakit.html' %}
{% load static %}

{% block nama_penyakit %}
<ul>
    <li>Tuberkulosis Paru tanpa komplikasi</li>
    <li>Diabetes Mellitus tipe 2</li>
    <!-- <li></li> obesitas -->
</ul>{% endblock %}

{% block farmakologi %}
<h3>Diabetes Mellitus:</h3>
<h4>First line (monoterapi)</h4>
<h5>1. Insulin (tidak ada di FKTP)</h5>

<br><br><br><br><br>
<h3>Tuberkulosis:</h3>
{% if is_dewasa %}
    {% if kdt_dewasa %}
    <h4>First line (dewasa)</h4>
    <h5>1. KDT RHZE (150/75/400/275) fase intensif</h5>
    {% endif %}
{% else %}
<h4>First line (anak)</h4> 
    {% if kdt_dewasa %}
        <h5>1. KDT RHZE (150/75/400/275) fase intensif</h5>
    {% else %}
        <h5>1. KDT RHZ (75/50/150) fase intensif</h5>
    {% endif %}
{% endif %}

<h5>{{dosis_KDT_fase_intensif}}</h5>

<br><br><br>
<h5>2. Lepasan fase intensif</h5>
{% for dosis in dosis_lepasan_intensif%}
    <p>{{dosis}}</p>
{% endfor %}
{% endblock %}


{% block non_farmakologi %}
<ul>
    <li>
        Merujuk pasien karena komorbid untuk mendapatkan obat yang 
        tersedia di fasilitas kesehatan tingkat lanjut (FKTL) 
        dan evaluasi komplikasi dengan lebih ketat
    </li>
    <li>Skrining HIV</li>
    <li>Skrining DM</li>
    <li>Investigasi Kontak</li>
    {% if is_hamil %}
    <li>Periksa TB pada anak saat melahirkan</li>
    {% endif %}
    <li>Membuka jendela dan pintu agar rumah mendapatkan sinar matahari dan udara segar</li>
    {% if is_merokok %}
    <li>Berhenti merokok/Hindari asap rokok</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/13_Agustus_06.png" alt="Tips berhenti merokok">
    {% endif %}
    <li>Nutrisi sesuai gizi seimbang
        <ul>
            <li>Makan pagi: nasi {{nasi_pagi}} centong</li>
            <li>Makan siang: nasi {{nasi_siang}} centong</li>
            <li>Makan malam: nasi {{nasi_malam}} centong</li>
            <li><em>Lauk menyesuaikan</em></li>
            <img width="400px" src="https://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/23_Juli_2018_03.png" alt="">
        </ul>
    </li>

    <li>Skrining TB</li>
    <li><li>{{frekuensi_aktivitas}}</li></li>
    
</ul>
{% endblock %}


{% block edukasi %}
<ul>
    <li>Mengajak keluarga mendukung pengobatan TB</li>
    <li>Edukasi efek samping</li>
    <img src="https://cdn.discordapp.com/attachments/942253001819709470/942571564300398663/unknown.png" alt="Edukasi efek samping">
    <br>
    <li>Bila pasien berhenti atau terputus minum obat sebelum selesai pengobatan, akan beresiko:
        <ul>
            <li>Penyakit TBC tidak sembuh dan berisiko menularkan ke orang lain</li>
            <li>Penyakit bertambah parah dan bisa berakibat kematian</li>
            <li>Kuman menjadi kebal terhadap obat TB biasa</li> 
        </ul>
    </li>
    <li>Cara meminum obat yang tepat untuk menghindari TB kebal obat:
        <ul>
            <li>Minum obat TB di jadwal yang sama</li> 
            <li>Minum obat TB sesuai dengan dosis yang harus diminum</li> 
            <li>Minta keluarga membantu mengingatkan minum obat</li> 
        </ul>
    </li>

    <li>Mengajak keluarga mendukung pengobatan DM</li>
    <li>Mengetahui tanda hipoglikemia dan cara mengatasinya</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/24_Juni_01.png " alt="">
    <br><br><br>
    <li>Perawatan kaki:</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/27_November_08.png" alt="">
    <br><br><br>
    <li>Batasi gula maksimal 4 sendok makan per hari</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/8_Januari_2021_05.png" alt="">
</ul>
{% endblock %}

{% block sumber %}
<ol>
    <li>Kementerian Kesehatan Republik Indonesia. Pedoman Nasional Pelayanan Kedokteran: Tata Laksana Tuberkulosis. Jakarta: Kementerian Kesehatan Republik Indonesia; 2020. </li>
    <li>Kementerian Kesehatan Republik Indonesia. Petunjuk Teknis Penanganan Infeksi Laten Tuberkulosis (ILTB). Jakarta: Kementerian Kesehatan RI; 2020.</li>
    <li>Perkumpulan Endokrinologi Indonesia. Pedoman Pengelolaan dan Pencegahan Diabetes Melitus Tipe 2 Dewasa di Indonesia. Jakarta. PB PERKENI; 2021. </li>
</ol>
{% endblock %}