{% extends 'template_penyakit.html' %}
{% load static %}

{% block nama_penyakit %}
Faringitis Akut
{% endblock %}

{% block farmakologi %}
<h5>1. Povidone iodine 1% kumur 3x1</h5>
<h5>2. Faringitis bakteri:
    {% if is_dewasa %}
    Amoksisilin 3x500 mg selama 6-10 hari atau eritromisin 4x500 mg selama 6-10 hari
    {% else %}
    Amoksisilin 3x50 mg/kgBB selama 10 hari
    {% endif %}
</h5>

<h5>3. Steroid:
    {% if is_dewasa %}
    Deksametason 3x0,5 mg selama 3 hari
    {% else %}
    Deksametason 3x0,01 mg/kgBB selama 3 hari
    {% endif %}
</h5>

<h5>
    4. Antipiretik (bila perlu): 
    {% if is_dewasa %} 
    Parasetamol 3-4x500 mg atau
    Ibuprofen 3-4x200 mg
    {% else %}
    Parasetamol 10-15 mg/kgBB pada anak atau
    Ibuprofen 5-10 mg/kgBB pada anak
    {% endif %}
</h5>

<!-- <h5>
    5. Ekspektoran: Gliseril guayakolat (dose) bila perlu
</h5>

<h5>
    6. Mukolitik: dose bila perlu
</h5>

<h5>
    7. Antitusif: dose bila perlu
</h5> -->

{% endblock %}

{% block non_farmakologi %}
<ul>
    <li>Tirah baring/bed rest 2-3 hari</li>
    <li>Mengurangi aktivitas fisis berlebihan selama sakit</li>
    {% if is_merokok %}<li>Hindari asap rokok </li> {% endif %}
    <li>Kompres air hangat bila perlu</li>
    <li>Minum air putih yang cukup</li> <br> 
        <img width="400px" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fp2ptm.kemkes.go.id%2Fuploads%2FTmQwU05BQS9YYlJpanB5VnNtRldFUT09%2F31_Desember_03.png&f=1&nofb=1" alt=""> <br><br><br>
    <li>Nutrisi sesuai gizi seimbang
        <ul>
            <li>Makan pagi : nasi {{nasi_pagi}} centong</li>
            <li>Makan siang: nasi {{nasi_siang}} centong</li>
            <li>Makan malam: nasi {{nasi_malam}} centong</li>
            <li><em>Lauk menyesuaikan</em></li>
                <img width="400px" src="https://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/23_Juli_2018_03.png" alt="">
        </ul>
    </li>
</ul>
{% endblock %}


{% block edukasi %}
Menjaga kebersihan mulut dan tangan:
<ul>
    <li>Sikat gigi 2x sehari dengan pasta gigi yang mengandung fluoride</li>
    <li>Ganti sikat gigi setiap 3 bulan</li>
    <li>Periksa rutin ke dokter gigi setiap 6 bulan</li>
    <li>Cuci tangan 6 langkah</li>
    <img width="400px" src="https://farmalkes.kemkes.go.id/wp-content/uploads/2022/03/29_6-Langkah-Cuci-Tangan-scaled.jpg" alt="">
    <br><br><br>
    <li>Waktu penting mencuci tangan</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/21_September_08.png" alt="">
</ul>
{% endblock %}

{% block sumber %}
<ol>
    <li>Ikatan Dokter Indonesia (IDI). Panduan Praktik Klinis Bagi Dokter di Fasilitas Pelayanan Kesehatan Tingkat Pertama. Tim editor PB IDI, editor. Jakarta: PB IDI; 2017.</li>
</ol>
{% endblock %}