{% extends 'template_penyakit.html' %}
{% load static %}

{% block nama_penyakit %}Diabetes Mellitus tipe 2{% endblock %}

{% block farmakologi %}

<h4>Firstline</h4>
<h5>1. Parasetamol 3x1000 mg/hari</h5>
<h5>2. Ibuprofen 3x800 mg/hari</h5>

<br><br><br><br>
<h4>First line (kombinasi)</h4>
<h5>1. Metformin+SU</h5>
{% endblock %}

{% block non_farmakologi %}
<ul>
    <li>Memperbaiki postur dan posisi</li>
    <li>Peregangan otot bahu dan leher 20-30 menit tiap hari selama minimal 1 minggu</li>
    <li>Aktivitas fisis sesuai usia, terutama penguatan otot punggung dan leher</li>
    <li>Nutrisi sesuai gizi seimbang</li>
    <li>Mengelola stres</li>
    <li>Terapi fisik: masase, kompres dingin, akupunktur</li>
</ul>
{% endblock %}


{% block edukasi %}
<li>Jangan berlebihan menggunakan obat-obatan (maksimal konsumsi 3 hari/minggu) untuk mencegah sakit kepala karena minum obat-obatan yang berlebihan (Medication overused headache)</li>
{% endblock %}

{% block sumber %}
<ol>
    
</ol>
{% endblock %}