{% extends 'template_penyakit.html' %}
{% load static %}

{% block nama_penyakit %}Hipertensi Esensial{% endblock %}

{% block farmakologi %}

<h4>First line:</h4>
<h5>1. Tiazid: Hidroklorotiazid 1x25-50 mg</h5>
<h5>2. ACE inhibitor: Kaptopril 2-3x12,5-50 mg; Lisinopril 1x10-40 mg</h5>
<h5>3. CCB: amlodipin 1x5-10 mg</h5>
<h5>4. Beta blocker: Atenolol 1x50-100 mg</h5>

{% endblock %}


{% block non_farmakologi %}
<ul>
    {% if is_merokok %}
    <li>Berhenti merokok, hindari asap rokok</li>
    {% endif %}

    {% if is_alkohol %}
    <li>Berhenti minum alkohol</li>
    {% endif %}

    <li>aktivitas fisik sesuai usia</li>
    <li>Menjaga berat badan ideal</li>
    <li>DASH diet:
        <ol>
            <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/12_April_07.png" alt="">
            <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/12_April_08.png" alt="">
            <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/12_April_09.png" alt="">
        </ol>
    </li>
    <br><br>
    <li>Batasi garam maksimal 1 sendok teh per hari</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/8_Januari_2021_05.png" alt="">
    <br><br>
    <li>Kelola stres</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/8_Agustus_09.png" alt="">
    
</ul>
{% endblock %}


{% block edukasi %}
<ul>
    <li>Mengajak keluarga mendukung pengobatan hipertensi</li>
    <li>Komplikasi hipertensi bila tekanan darah tidak terkontrol</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/17_Februari_2021_12.png" alt=""> 
    <br><br><br>
    <li>Mengajak keluarga mendukung pengobatan DM</li>
    <li>Mengetahui tanda hipoglikemia dan cara mengatasinya</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/24_Juni_01.png " alt="">
    <br><br><br>
    <li>Perawatan kaki:</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/27_November_08.png" alt="">
    <br><br><br>
    <li>Batasi gula maksimal 4 sendok makan per hari</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/8_Januari_2021_05.png" alt="">
</ul>
{% endblock %}


{% block sumber %}
<ol>
    <li>Perhimpunan Dokter Hipertensi Indonesia. Konsensus Penatalaksanaan Hipertensi 2019. Jakarta: PERHI; 2019.</li>
    <li>Ikatan Dokter Indonesia (IDI). Panduan Praktik Klinis Bagi Dokter di Fasilitas Pelayanan Kesehatan Tingkat Pertama. Tim editor PB IDI, editor. Jakarta: PB IDI; 2017.</li>
</ol>
{% endblock %}