{% extends 'template_penyakit.html' %}
{% load static %}

{% block nama_penyakit %}
<ul>
    <li>Hipertensi Esensial</li>
    <li>Diabetes Mellitus tipe 2</li>
    <!-- <li></li> obesitas -->
</ul>
{% endblock %}

{% block farmakologi %}

<h3>Hipertensi:</h3>
<h4>First line:</h4>
<h5>1. ACE inhibitor: Kaptopril 2-3x12,5-50 mg; Lisinopril 1x10-40 mg</h5> <!-- warna hijau -->
<h5>2. ARB (rekomendasi utama) (tidak ada di FKTP): Kandesartan 1x8-16 mg</h5>
<h5>3. CCB: amlodipin 1x5-10 mg</h5>
<h5>4. Beta blocker: Atenolol 1x50-100 mg</h5>
<h5>5. Tiazid: Hidroklorotiazid 1x25-50 mg</h5>
<br><br><br><br><br>

<h3>Diabetes Mellitus:</h3>
<h4>First line (monoterapi)</h4>
<h5>1. Metformin 1-3x500-1000 mg bersama/sesudah makan</h5>
<h5>2. sulfonilurea: glibenklamid 1-2x2,5-5 mg; glimepiride 1x1-4 mg:glipizid  1x5-10 mg</h5>

<br><br><br><br>
<h4>First line (kombinasi)</h4>
<h5>1. Metformin+SU</h5>
{% endblock %}


{% block non_farmakologi %}
<ul>
    <li>
        Merujuk pasien karena komorbid untuk mendapatkan obat 
        yang tersedia di fasilitas kesehatan tingkat lanjut (FKTL) 
        dan evaluasi komplikasi dengan lebih ketat
    </li>

    <li>Skrining TB</li>

    {% if is_merokok %}
    <li>Berhenti merokok, hindari asap rokok</li>
    {% endif %}

    {% if is_alkohol %}
    <li>Berhenti minum alkohol</li>
    {% endif %}

    <li>{{frekuensi_aktivitas}}</li>
    <li>Menjaga berat badan ideal</li>
    <li>DASH diet:
        <ol>
            <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/12_April_07.png" alt="">
            <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/12_April_08.png" alt="">
            <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/12_April_09.png" alt="">
        </ol>
    </li>
    <br><br>
    <li>Batasi garam maksimal 1 sendok teh per hari</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/8_Januari_2021_05.png" alt="">
    <br><br>
    <li>Kelola stres</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/8_Agustus_09.png" alt="">
    
</ul>
{% endblock %}


{% block edukasi %}
<ul>
    <li>Mengajak keluarga mendukung pengobatan hipertensi</li>
    <li>Komplikasi hipertensi bila tekanan darah tidak terkontrol</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/17_Februari_2021_12.png" alt=""> 

</ul>
{% endblock %}

{% block sumber %}
<ol>
    <li>Perhimpunan Dokter Hipertensi Indonesia. Konsensus Penatalaksanaan Hipertensi 2019. Jakarta: PERHI; 2019.</li>
    <li>Ikatan Dokter Indonesia (IDI). Panduan Praktik Klinis Bagi Dokter di Fasilitas Pelayanan Kesehatan Tingkat Pertama. Tim editor PB IDI, editor. Jakarta: PB IDI; 2017.</li>
    <li>Perkumpulan Endokrinologi Indonesia. Pedoman Pengelolaan dan Pencegahan Diabetes Melitus Tipe 2 Dewasa di Indonesia. Jakarta. PB PERKENI; 2021. </li>
</ol>
{% endblock %}