{% extends 'template_penyakit.html' %}
{% load static %}

{% block nama_penyakit %}Diabetes Mellitus tipe 2{% endblock %}

{% block farmakologi %}

<h4>Firstline</h4>
<h5>Abortif spesifik: Sumatriptan 1x50-100 mg; diminum hanya saat sakit. Boleh ditambah 50 mg tiap 2 jam bila masih sakit</h5>

<br><br><br><br>
<h4>First line (kombinasi)</h4>
<h5>1. Metformin+SU</h5>
{% endblock %}

{% block non_farmakologi %}
<ul>
    <li>Menghindari faktor pencetus: coklat, kafein, Alkohol, Tekanan tinggi (ketinggian tinggi, kedalaman rendah), Tempat berisik, Rokok, Lelah, Stres, Mens</li>
    <li>Aktivitas fisis sesuai usia</li>
    <li>Nutrisi sesuai gizi seimbang</li>
    <li>Mengelola stres</li>
</ul>
{% endblock %}


{% block edukasi %}
<li>Jangan berlebihan menggunakan obat-obatan (maksimal konsumsi 3 hari/minggu) 
    untuk mencegah sakit kepala karena minum obat-obatan yang berlebihan (Medication overused headache)</li>
{% endblock %}

{% block sumber %}
<ol>
    
</ol>
{% endblock %}