{% extends 'template_penyakit.html' %}
{% load static %}

{% block nama_penyakit %}
Influenza
{% endblock %}

{% block farmakologi %}

<h5>
    1. Antibiotik:
    {% if is_dewasa %} 

    {% else %}
    Amoksisilin 25 mg/kgBB atau
    Kotrimoksazol 4mg/kgBB TMP - 20 mg/kgBB sulfametoksazol
    {% endif %}
</h5>

<h5>
    2. Antipiretik (bila perlu): 
    {% if is_dewasa %} 
    Parasetamol 3-4x500 mg atau
    Ibuprofen 3-4x200 mg
    {% else %}
    Parasetamol (10-15 mg/kgBB pada anak) atau
    Ibuprofen (5-10 mg/kgBB pada anak)
    {% endif %}
</h5>

<!-- <h5>
    5. Ekspektoran: Gliseril guayakolat (dose) bila perlu
</h5>

<h5>
    6. Mukolitik: dose bila perlu
</h5>

<h5>
    7. Antitusif: dose bila perlu
</h5> -->

{% endblock %}

{% block non_farmakologi %}
<ul>
    <li>Tirah baring/bed rest 2-3 hari</li>
    <li>Nutrisi sesuai gizi seimbang</li>
    <li>Aktivitas fisis sesuai usia setelah sehat. Mengurangi aktivitas fisis berlebihan selama sakit</li>
    {% if is_merokok %}<li>Hindari asap rokok </li> {% endif %}
    <li>Kompres air hangat bila perlu</li>
    
    <li>Isolasi pasien</li>
    {% if is_dewasa %}
    <li>Imunisasi Influenza dan Pneumokokal dewasa (terutama usia lanjut dan penderita penyakit kronis)</li>
        <img width="400px" src="https://pbs.twimg.com/media/DZ5_W6HUQAA9Iks?format=jpg&name=large" alt=""> <br><br><br>
    {% else %}
    <li>Pemberian vitamin A</li>
    <li>Imunisasi influenza anak</li>
        <img width="400px" src="https://cdn.discordapp.com/attachments/942253001819709470/968369082145603614/unknown.png " alt=""> <br><br><br>
    {% endif %}
    
    <li>Minum air putih yang cukup</li> <br> 
        <img width="400px" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fp2ptm.kemkes.go.id%2Fuploads%2FTmQwU05BQS9YYlJpanB5VnNtRldFUT09%2F31_Desember_03.png&f=1&nofb=1" alt=""> <br><br><br>
    <li>Nutrisi sesuai gizi seimbang
        <ul>
            <li>Makan pagi : nasi {{nasi_pagi}} centong</li>
            <li>Makan siang: nasi {{nasi_siang}} centong</li>
            <li>Makan malam: nasi {{nasi_malam}} centong</li>
            <li><em>Lauk menyesuaikan</em></li>
            <img width="400px" src="https://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/23_Juli_2018_03.png" alt="">
        </ul>
    </li>
</ul>
{% endblock %}

{% block edukasi %}
<ul>
    <li>Membuka jendela rumah untuk meningkatkan sirkulasi udara</li>
    <li>Menerapkan etika batuk:</li>
        <img width="400px" src="https://scontent.fcgk4-6.fna.fbcdn.net/v/t1.6435-9/90588341_2536347836630459_7627410396374106112_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeEPNMPBgDW3CAkCfNRAIqkLmVOxrx0hksKZU7GvHSGSwl9mhi34YlnvimnAU9sijtXlXVImNCQ-oNILiYhJFu39&_nc_ohc=OyLoaXRCjioAX_Gpxha&_nc_ht=scontent.fcgk4-6.fna&oh=00_AT_nMSENnrggVJr4KmngD1RasrWsTz6EECwsGdCn-xEOlQ&oe=628BA58B" alt="">
        <br><br><br>
    <li>Memakai masker:</li>
        <img width="400px" src="https://www.kemenkopmk.go.id/sites/default/files/gallery/FLYER%20CARA%20MEMAKAI%20MASKER.jpg" alt="">
</ul>
{% endblock %}

{% block sumber %}
<ol>
    <li>Ikatan Dokter Indonesia (IDI). Panduan Praktik Klinis Bagi Dokter di Fasilitas Pelayanan Kesehatan Tingkat Pertama. Tim editor PB IDI, editor. Jakarta: PB IDI; 2017.</li>
</ol>
{% endblock %}