{% extends 'template_penyakit.html' %}
{% load static %}

{% block nama_penyakit %}
<ul>
    <li>Hipertensi Esensial</li>
    <li>Tuberkulosis Paru tanpa komplikasi</li>
    <!-- <li></li> obesitas -->
</ul>

{% endblock %}

{% block farmakologi %}

<h3>Hipertensi:</h3>
<h4>First line:</h4>
<h5>1. Tiazid: Hidroklorotiazid 1x25-50 mg</h5>
<h5>2. ACE inhibitor: Kaptopril 2-3x12,5-50 mg; Lisinopril 1x10-40 mg</h5>
<h5>3. CCB: amlodipin 1x5-10 mg</h5>
<h5>4. Beta blocker: Atenolol 1x50-100 mg</h5>

<br><br><br><br>
<h3>Tuberkulosis:</h3>
{% if is_dewasa %}
    {% if kdt_dewasa %}
    <h4>First line (dewasa)</h4>
    <h5>1. KDT RHZE (150/75/400/275) fase intensif</h5>
    {% endif %}
{% else %}
<h4>First line (anak)</h4> 
    {% if kdt_dewasa %}
        <h5>1. KDT RHZE (150/75/400/275) fase intensif</h5>
    {% else %}
        <h5>1. KDT RHZ (75/50/150) fase intensif</h5>
    {% endif %}
{% endif %}
    

<h5>{{dosis_KDT_fase_intensif}}</h5>

<br><br>
<h5>2. Lepasan fase intensif</h5>
{% for dosis in dosis_lepasan_intensif%}
    <p>{{dosis}}</p>
{% endfor %}

{% endblock %}


{% block non_farmakologi %}
<ul>
    <li>Skrining HIV</li>
    <li>Skrining DM</li>
    <li>Investigasi Kontak</li>
    {% if is_hamil %}
        <li>Periksa TB pada anak saat melahirkan</li>
    {% endif %}
    {% if is_merokok %}
        <li>Berhenti merokok/Hindari asap rokok</li>
        <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/13_Agustus_06.png" alt="Tips berhenti merokok">
    {% endif %}
    <li>Membuka jendela dan pintu agar rumah mendapatkan sinar matahari dan udara segar</li>
    <li>Nutrisi sesuai gizi seimbang
        <ul>
            <li>Makan pagi: nasi {{nasi_pagi}} centong</li>
            <li>Makan siang: nasi {{nasi_siang}} centong</li>
            <li>Makan malam: nasi {{nasi_malam}} centong</li>
            <li><em>Lauk menyesuaikan</em></li>
            <img width="400px" src="https://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/23_Juli_2018_03.png" alt="">
        </ul>
    </li>

    {% if is_merokok %}
    <li>Berhenti merokok, hindari asap rokok</li>
    {% endif %}

    {% if is_alkohol %}
    <li>Berhenti minum alkohol</li>
    {% endif %}

    <li>aktivitas fisik sesuai usia</li>
    <li>Menjaga berat badan ideal</li>
    <li>DASH diet:
        <ol>
            <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/12_April_07.png" alt="">
            <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/12_April_08.png" alt="">
            <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/12_April_09.png" alt="">
        </ol>
    </li>
    <br><br>
    <li>Batasi garam maksimal 1 sendok teh per hari</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/8_Januari_2021_05.png" alt="">
    <br><br>
    <li>Kelola stres</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/8_Agustus_09.png" alt="">
    
</ul>
{% endblock %}


{% block edukasi %}
<ul>
    <li>Edukasi efek samping</li>
    <img src="https://cdn.discordapp.com/attachments/942253001819709470/942571564300398663/unknown.png" alt="Edukasi efek samping">
    <br>
    <li>Bila pasien berhenti atau terputus minum obat sebelum selesai pengobatan, akan beresiko:
        <ul>
            <li>Penyakit TBC tidak sembuh dan berisiko menularkan ke orang lain</li>
            <li>Penyakit bertambah parah dan bisa berakibat kematian</li>
            <li>Kuman menjadi kebal terhadap obat TB biasa</li> 
        </ul>
    </li>
    <li>Cara meminum obat yang tepat untuk menghindari TB kebal obat:
        <ul>
            <li>Minum obat TB di jadwal yang sama</li> 
            <li>Minum obat TB sesuai dengan dosis yang harus diminum</li> 
            <li>Minta keluarga membantu mengingatkan minum obat</li> 
        </ul>
    </li>
    <li>Mengajak keluarga mendukung pengobatan TB</li>
    
    <li>Mengajak keluarga mendukung pengobatan hipertensi</li>
    <li>Komplikasi hipertensi bila tekanan darah tidak terkontrol</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/17_Februari_2021_12.png" alt=""> 
    <br><br><br>
    <li>Mengajak keluarga mendukung pengobatan DM</li>
    <li>Mengetahui tanda hipoglikemia dan cara mengatasinya</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/24_Juni_01.png " alt="">
    <br><br><br>
    <li>Perawatan kaki:</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/27_November_08.png" alt="">
    <br><br><br>
    <li>Batasi gula maksimal 4 sendok makan per hari</li>
    <img width="400px" src="http://p2ptm.kemkes.go.id/uploads//TmQwU05BQS9YYlJpanB5VnNtRldFUT09/8_Januari_2021_05.png" alt="">
    
</ul>
{% endblock %}

{% block sumber %}
<ol>
    <li>Kementerian Kesehatan Republik Indonesia. Pedoman Nasional Pelayanan Kedokteran: Tata Laksana Tuberkulosis. Jakarta: Kementerian Kesehatan Republik Indonesia; 2020. </li>
    <li>Kementerian Kesehatan Republik Indonesia. Petunjuk Teknis Penanganan Infeksi Laten Tuberkulosis (ILTB). Jakarta: Kementerian Kesehatan RI; 2020.</li>
    <li>Perhimpunan Dokter Hipertensi Indonesia. Konsensus Penatalaksanaan Hipertensi 2019. Jakarta: PERHI; 2019.</li>
    <li>Ikatan Dokter Indonesia (IDI). Panduan Praktik Klinis Bagi Dokter di Fasilitas Pelayanan Kesehatan Tingkat Pertama. Tim editor PB IDI, editor. Jakarta: PB IDI; 2017.</li>
</ol>
{% endblock %}