{% extends 'base.html' %}
{% load static %}

{% block title %}
Dokuma
{% endblock %}

{% block css %}
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
{% endblock %}


{% block content %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        
        <h1 class="logo me-auto"><a href="{% url 'home:home' %}">Dokuma</a></h1>
        <a href="{% url 'home:home' %}" class="appointment-btn scrollto"><span class="d-none d-md-inline"></span> Home </a>
        <a href="{% url 'login:login' %}" class="appointment-btn scrollto"><span class="d-none d-md-inline"></span> Login </a>
    </div>
</header><!-- End Header -->
<!-- ======= Appointment Section ======= -->
<section id="appointment" class="appointment section-bg">
    <div class="container">
        <div class="section-title">
            <br><br><br>
            <h4>Let's Help People!</h4>
            <h2>Daftar Akun</h2>
        </div>

        <form action="" method="POST" role="form" id="signup-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3 form-group mt-3">
                </div>
                <div class="col-md-6 form-group mt-3">
                    <input type="text" name="username" class="form-control" id="username" placeholder="Nama Dokter" required>
                    <div class="validate"></div>
                </div>
                <div class="col-md-3 form-group mt-3">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 form-group mt-3"></div>
                <div class="col-md-6 form-group mt-3 ">
                    <input type="text" name="nomor_str" class="form-control" id="nomor_str" data-rule="minlen:4" placeholder="Nomor STR" required>
                    <div class="validate"></div>
                </div>
                <div class="col-md-3 form-group mt-3"></div>
            </div>
            
            <div class="row">
                <div class="col-md-3 form-group mt-3">
                </div>
                <div class="col-md-6 form-group mt-3">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                    <div class="validate"></div>
                </div>
                <div class="col-md-3 form-group mt-3">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 form-group mt-3"></div>
                <div class="col-md-6 form-group mt-3">
                    <input type="password" name="password1" class="form-control" id="password1" placeholder="Password" required>
                    <div class="validate"></div>
                </div>
                <div class="col-md-3 form-group mt-3"></div>
            </div>

            <div class="row">
                <div class="col-md-3 form-group mt-3"></div>
                <div class="col-md-6 form-group mt-3">
                    <input type="password" name="password2" class="form-control" id="password2" placeholder="Confirm Password" required>
                    <div class="validate"></div>
                </div>
                <div class="col-md-3 form-group mt-3"></div>
            </div>
            
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 form-group mt-3" align="center">
                    <p id="error" style="color: red"></p>
                    {% for field in registration_form %}
                        <p>
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        </p>
                    {% endfor %}
                    
                    {% if registration_form.non_field_errors %}
                        <div style="color: red">
                            <p>{{registration_form.non_field_errors}}</p>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-3"></div>
            </div>


            <div class="text-center" ><button type="submit" style="background-color:#703757"; margin: 7px" class="btn btn-primary">Daftar</button></div>
        
            <div class="text-center">Sudah punya akun? Yuk <a href="{% url 'login:login' %}" style="color:#333399"><strong>masuk</strong></a></div>
        </form>
    </div>
</section><!-- End Appointment Section -->
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<!-- <script type="text/javascript">
$(document).on('submit', '#signup-form', function(e){
    e.preventDefault();
    
    var signup_form_id = $('#signup-form')

    $.ajax({
        type:'POST',
        url:"{% url 'register:register' %}",
        data:signup_form_id.serialize(),
        dataType:"json",
        header: {'X-CSRFToken': '{% csrf_token %}'},
        success: function(response){
        var success = response['success']
            if (success){
                alert("Anda berhasil terdaftar! Silahkan login.")
            }
            else {
                alert("Pendaftaran akun gagal! Silakan coba lagi.");
                for(var msg in response['error']) {
                    var txt = JSON.stringify(response['error'][msg]);
                    document.getElementById("error").innerHTML = txt.replace(/[&\/\\#,\]+()$~%['":*?<>{}]/g, '');
                }
            }
        },
    });
});
</script> -->
{% endblock %}
