<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div>
                <div class="copyright">
                    <h6>&copy; Copyright <strong><span>Dokuma</span></strong>. All Rights Reserved</h6>
                </div>
                <div class="credits">
                    <h6>Designed by Alifah & Mikael</h6>
                </div>
            </div>
        </div>
    </div>


</footer><!-- End Footer -->