{% extends 'base.html' %}
{% load static %}

{% block title %}
    Dokuma
{% endblock %}

{% block content %}
  <!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
      
      <h1 class="logo me-auto"><a href="{% url 'home:home' %}">Dokuma</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      
      <a href="{% url 'home:home' %}" class="appointment-btn scrollto" style="background-color:#333399"><span class="d-none d-md-inline"></span> Home</a>
      <a href="https://drive.google.com/file/d/1TJqX5BCmAdw3WXYwmFWHn-PfkmsPYrEJ/view?usp=drivesdk" class="appointment-btn scrollto" style="background-color:#333399"><span class="d-none d-md-inline"></span> Share Dokumen</a>
  </div>
</header><!-- End Header -->

  <main id="main">
    <section id="departments" class="departments">
      <div class="container">

        <div class="section-title">
          <br><br><br>
          <h2>{% block nama_penyakit %}{% endblock %}</h2>
          </div>

        <div class="row gy-4">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Farmakologi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Non-Farmakologi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Edukasi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Referensi</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row gy-4">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Farmakologi</h3>
                    {% block farmakologi %}{% endblock %}
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row gy-4">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Non-Farmakologi</h3>
                    {% block non_farmakologi %}{% endblock %}
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row gy-4">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Edukasi</h3>
                    {% block edukasi %}{% endblock %}
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row gy-4">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Referensi</h3>
                    {% block sumber %}{% endblock %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}