{% extends 'base.html' %}
{% load static %}


{% block title %}
Dokuma
{% endblock %}

{% block css %}
<style type="text/css">

    .darkRed {
        color: darkred;
    }

    .darkBlue {
        color: darkblue;
    }

    .navbar {
        position: relative;
        border: 1px solid #080808;
        background-color: #222;
        background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
        background-repeat: repeat-x;
        border-radius: 4px;
        margin: 0;
        padding: 0;
    }

    .navbar-brand {
        float: left;
        padding: 14px 15px;
        font-size: 18px;
        line-height: 20px;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
    }

    a:hover {
        color: #fff;
    }

    .navbar-links {
        font-size: 14px;
        line-height: 20px;
        position: relative;
        margin: 0;
    }

    .navbar-links li {
        cursor: pointer;
        text-decoration: none;
    }

    .navbar-links li {
        display: inline-block;
        min-width: 120px;
        text-align: center;
        margin-top: 15px;
    }

    .navbar-links li.active {
        background-image: #080808;
        background: #080808;
        color: #fff;
        height: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 0;
    }

    a {
        color: #9d9d9d;
        cursor: pointer;
        text-decoration: none;
    }

    @media (max-width: 640px) {
        .navbar-brand {
            width: 100%;
        }

        .navbar-links {
            padding-left: 0;
        }

        button.demo {
            margin-right: 100% !important;
        }
    }


    .demo-zone {
        display: block;
        width: 100%;
        min-height: 200px;
    }

    .mini-demo-zone {
        display: block;
        width: 100%;
        min-height: 100px;
    }

    .btns-active,
    .btns-inactive {
        margin-top: 20px;
    }

    label {
        display: inline-block;
        min-width: 220px;
        width: 220px;
    }

    button.demo,
    a.demo {
        margin-right: 0;
        margin-left: 4px;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        border-radius: 4px;
        z-index: 1;
        color: #333;
        background: white;
        background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
        border: 1px solid #ccc !important;
        color: #333;
        line-height: 20px;
        font-size: 14px;
        padding: 4px 12px;
        margin-bottom: 2px;
    }

    button.demo:hover {
        background-image: linear-gradient(to top, #fff 0, #e0e0e0 100%);
    }

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css"
    integrity="sha512-iVAPZRCMdOOiZWYKdeY78tlHFUKf/PqAJEf/0bfnkxJ8MHQHqNXB/wK2y6RH/LmoQ0avRlGphSn06IMMxSW+xw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.js"
    integrity="sha512-jfp1Gv+A3dHho9qOUUWOrZA6NWR08j7GYVn8VXcRI0FsDb3xe0hQHVwasi2UarjZzPYOxT5uvmlHrWLXQ+M4AQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
    integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
    integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

{% endblock %}

{% block content %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="{% url 'home:home' %}">Dokuma</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->


        <a href="{% url 'home:home' %}" class="appointment-btn scrollto" style="background-color:#703757"><span
                class="d-none d-md-inline"></span> Home</a>
    </div>
</header><!-- End Header -->
<!-- ======= Appointment Section ======= -->
<section id="appointment" class="appointment section-bg">
    <div class="container">
        <div class="section-title">
            <br><br><br><br>
            <h2>Identitas Pasien</h2>
        </div>

        <form action="" method="POST" role="form" class="">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 form-group">
                    <input type="text" class="form-control" name="umur" id="umur" placeholder="Umur Pasien" required>
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                    <input type="text" name="tb" class="form-control" id="tb" placeholder="Tinggi Badan Pasien"
                        required>
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                    <input type="text" name="bb" class="form-control" id="bb" placeholder="Berat Badan Pasien" required>
                </div>
            </div>

            <div class="row">
                <div class="validate"></div>

                <div class="col-md-4 form-group mt-3 ">
                    <select name="jenis_kelamin" id="jenis_kelamin" class="form-select" required>
                        <option value="">Jenis Kelamin</option>
                        <option value="True">Pria</option>
                        <option value="False">Wanita</option>
                    </select>
                </div>

                <div class="col-md-4 form-group mt-3">
                    <select name="is_hamil" id="is_hamil" class="form-select" required>
                        <option value="">Hamil?</option>
                        <option value="True">Ya</option>
                        <option value="False">Tidak</option>
                    </select>
                </div>
                <div class="col-md-4 form-group mt-3">
                    <select name="is_alkohol" id="is_alkohol" class="form-select" required>
                        <option value="">Alkohol?</option>
                        <option value="True">Ya</option>
                        <option value="False">Tidak</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 form-group mt-3">
                    <select name="is_merokok" id="is_merokok" class="form-select" required>
                        <option value="">Merokok atau Sering Terpapar Rokok?</option>
                        <option value="True">Ya</option>
                        <option value="False">Tidak</option>
                    </select>
                </div>
                <div class="col-md-4 form-group mt-3">
                    <select name="pekerjaan" id="pekerjaan" class="form-select" required>
                        <option value="">Tingkat Aktivitas</option>
                        <option value="1">Istirahat (tirah baring)</option>
                        <option value="2">Aktivitas ringan (IRT, pegawai kantor, guru)</option>
                        <option value="3">Aktivitas sedang (pegawai industri ringan, mahasiswa, militer yang sedang
                            tidak perang)</option>
                        <option value="4">Aktivitas berat (petani, buruh, atlet, militer dalam keadaan latihan)</option>
                        <option value="5">Aktivitas sangat berat (tukang becak, tukang gali)</option>
                    </select>
                </div>
                <div class="col-md-4 form-group mt-3">
                    <select name="stres" id="stres" class="form-select" required>
                        <option value="">Stres Metabolik</option>
                        <option value="0">Tidak ada</option>
                        <option value="1">Trauma ringan</option>
                        <option value="2">Operasi ringan, trauma sedang</option>
                        <option value="3">Sepsis, operasi besar, trauma berat</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group mt-3">
                    <input type="text" name="pengobatan" class="form-control" id="pengobatan"
                        placeholder="Pengobatan saat ini">
                </div>

                <div class="col-md-4 form-group mt-3">
                    <select id="alergi" name="alergi" multiple="multiple" style="width: 100%" placeholder="Alergi">
                        <option value="Paracetamol">Paracetamol</option>
                        <option value="Ibuprofen">Ibuprofen</option>
                        <option value="Kacang">Kacang</option>
                        <option value="Aspirin">Aspirin</option>
                        <option value="Penisilin">Penisilin, Penicillin</option>
                        <option value="Susu sapi">Susu sapi</option>
                        <option value="Telur">Telur</option>
                        <option value="Kerang">Kerang</option>
                        <option value="Gandum">Gandum</option>
                        <option value="Kecoak">Kecoak</option>
                        <option value="Pewarna">Pewarna</option>
                        <option value="Logam">Logam</option>
                        <option value="Parfum">Parfum</option>
                        <option value="Karet">Karet</option>
                        <option value="Lateks">Lateks</option>
                        <option value="Sengatan lebah">Sengatan lebah</option>
                        <option value="Spora jamur">Spora jamur</option>
                        <option value="Tungau debu rumah">Tungau debu rumah, house dust mite</option>
                        <option value="Pollen">Serbuk sari, Pollen</option>
                        <option value="Ikan">Ikan</option>
                        <option value="Kedelai">Kedelai</option>
                        <option value="Sefalosporin">Sefalosporin/Cephalosporin</option>
                        <option value="NSAID">Nonsteroid Antiinflammatory Drugs, NSAID, Obat anti inflamasi nonsteroid
                            OAINS</option>
                        <option value="Lidokain">Lidocaine, Lidokain</option>
                        <option value="Antikejang">Antikejang, Antiseizure</option>
                        <option value="Metformin">Metformin</option>
                        <option value="Glibenklamid">Glibenklamid, Glibenclamide</option>
                        <option value="Glimepiride">Glimepiride</option>
                        <option value="Glipizid">Glipizid</option>
                        <option value="Rifampisin">Rifampisin, Rifampicin</option>
                        <option value="Isoniazid">Isoniazid</option>
                        <option value="Pirazinamid">Pirazinamid</option>
                        <option value="Etambutol">Etambutol, Ethambutol</option>
                        <option value="Hidroklorotiazid">Hidroklorotiazid, Hydrochlorothiazide</option>
                        <option value="Kaptopril">Kaptopril, Captopril </option>
                        <option value="Amlodipine">Amlodipine</option>
                        <option value="Atenolol">Atenolol</option>
                    </select>
                </div>
                
                <div class="col-md-4 form-group mt-3">
                    <select id="diagnosis" name="diagnosis" multiple="multiple" style="width: 100%" required>
                        <option value="TB">Tuberkulosis paru tanpa komplikasi</option>
                        <option value="HP">Hipertensi esensial</option>
                        <option value="DM">Diabetes melitus tipe 2</option>
                        <option value="Anemia">Anemia</option>
                        <option value="Influenza">Influenza</option>
                        <option value="Faringitis">Faringitis</option>
                        <option value="Pneumonia">Pneumonia</option>
                        <option value="DDR">Diare dehidrasi ringan</option>
                        <option value="DTR">Diare tanpa dehidrasi</option>
                        <option value="HeadacheAkut">Headache Akut</option>
                        <option value="HeadacheKronik">Headache Kronik</option>
                        <option value="Migrain">Migrain</option>
                    </select>
                </div>
            </div>

            <br>
            <div class="text-center"><button type="submit" style="background-color:#703757" style="width: 100%"
                    class="btn btn-primary">Lanjut</button></div>
            <br><br><br><br><br><br><br><br>
        </form>
    </div>
</section><!-- End Appointment Section -->
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $('#alergi').select2({
            placeholder: "Alergi",
            closeOnSelect: false
        });
        $('#diagnosis').select2({
            placeholder: "Diagnosis",
            closeOnSelect: false
        });
    })
</script>
{% endblock %}
