{% extends 'base.html' %}
{% load static %}

{% block title %}
    Dokuma
{% endblock %}

{% block content %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="{% url 'home:home' %}">Dokuma</a></h1>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto" style="color:#703757" href="#hero">Home</a></li>
        <!-- <li><a class="nav-link scrollto" href="#counts">Our Partners</a></li>
        <li><a class="nav-link scrollto" href="#testimonials">Testimonials</a></li> -->
        <li><a class="nav-link scrollto" href="#faq">FAQ</a></li> 
        {% if user.is_authenticated %}
        <li><a class="nav-link scrollto" href="{% url 'login:logout' %}">Logout</a></li>
        {% else %}
        <li><a class="nav-link scrollto" href="{% url 'login:login' %}">Login</a></li>
        <li><a class="nav-link scrollto" href="{% url 'register:register' %}">Register</a></li>
        {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <a href="{% url 'home:mulai' %}" class="appointment-btn scrollto"><span class="d-none d-md-inline"></span> Mulai </a>

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    {% if user.is_authenticated %}
        <h1>Halo, {{user.username}}</h1>
        <h2>Mari kita berikan yang terbaik untuk pasien!</h2>
    {% else %}
        <h1>Welcome to Dokuma</h1>
    {% endif %}
    
    <a href="#why-us" class="btn-get-started scrollto" style="background-color:#703757">Let's Take a Look!</a>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content" style="background-color:#703757">
            <h3>Mengapa memilih Dokuma?</h3>
            <p>
              Dokuma adalah website yang dapat mempermudah pencarian tata laksana yang personalized/terindividualisasi berdasarkan data pasien serta diagnosis pasien.
            </p>
            <!-- <div class="text-center">
              <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
            </div> -->
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt" style="color:#703757"></i>
                  <h4>Cepat</h4>
                  <p>Dokuma dapat digunakan langsung di depan pasien!</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt" style="color:#703757"></i>
                  <h4>Kredibel</h4>
                  <p>Dokuma menggunakan sumber yang kredibel dan terupdate</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-images" style="color:#703757"></i>
                  <h4>Komprehensif</h4>
                  <p>Dokuma memasukkan tata laksana farmakologi, nonfarmakologi, dan edukasi yang lengkap dan terindividualisasi</p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Counts Section ======= -->
  <!-- <section id="counts" class="counts">
    <div class="container">
      <div class="section-title">
        <h2>Our Partners</h2>
      </div>
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="fas fa-user-md" style="background-color:#703757"></i>
            <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
            <p>Doctors</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="far fa-hospital" style="background-color:#703757"></i>
            <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
            <p>Departments</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fas fa-flask" style="background-color:#703757"></i>
            <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
            <p>Research Labs</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fas fa-award" style="background-color:#703757"></i>
            <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
            <p>Awards</p>
          </div>
        </div>

      </div>

    </div>
  </section> -->
  <!-- End Counts Section -->

  <!-- ======= Doctors Section ======= -->
  <!-- End Doctors Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    
  </section><!-- End Testimonials Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
        <p>Apabila ada pertanyaan yang belum terjawab di sini, mohon tanyakan ke kontak Rheza atau melalui email dokuma@gmail.com</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help" ></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-1" class="collapsed">Apakah penyakitnya akan lengkap?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Target awal kami 20 penyakit tersering di FKTP (puskesmas/klinik), lalu bertahap menambahkan penyakit-penyakit kompetensi 4 untuk dokter umum, baru penyakit-penyakit lainnya.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Apakah bisa terintegrasi dengan rekam medis online yang sudah ada di FKTP (puskesmas/klinik)?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Saat ini belum karena mengintegrasi dengan pihak lain membutuhkan waktu dan proses yang lebih lama. Saat ini Dokter perlu mengisi secara manual data yang dibutuhkan.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Apakah data pasien dapat disimpan? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Saat ini belum karena kami akan menghadapi isu etik terkait kerahasiaan data pasien. Namun kami akan berusaha mencarikan solusinya supaya pasien dengan penyakit kronis dapat dimasukkan datanya, sehingga follow up menjadi lebih mudah.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Apakah obat-obatan yang dituliskan sudah lengkap? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Kami hanya memasukkan obat-obatan yang tersedia di FKTP (puskesmas/klinik) berdasarkan Formularium Nasional Kementerian Kesehatan RI tahun 2019. 
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Mengapa data hamil, pengobatan saat ini, dan alergi harus diisi? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Dokuma mengutakan tata laksana komprehensif yang personalized/terindividualisasi. Data tersebut akan berpengaruh terhadap rekomendasi tata laksana yang akan dimunculkan.
              </p>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->
  <!-- ======= Gallery Section ======= -->
  <!-- End Gallery Section -->


</main><!-- End #main -->
{% endblock %}
{% block footer %}
    {% include 'footer.html' %}    
{% endblock %}
