{% extends 'base.html' %}
{% load static %}


{% block title %}
Dokuma
{% endblock %}


{% block content %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        
        <h1 class="logo me-auto"><a href="{% url 'home:home' %}">Dokuma</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        <a href="{% url 'home:home' %}" class="appointment-btn scrollto"><span class="d-none d-md-inline"></span> Home </a>
        <a href="{% url 'register:register' %}" class="appointment-btn scrollto"><span class="d-none d-md-inline"></span> Register </a>
    </div>
</header><!-- End Header -->
<!-- ======= Appointment Section ======= -->
<section id="appointment" class="appointment section-bg">
    <div class="container">
        <div class="section-title">
            <br><br><br><br>
            <h4>Welcome back!</h4>
            <h2>Log in</h2>
        </div>

        <form action="" method="POST" role="form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3 form-group mt-3">
                </div>
                <div class="col-md-6 form-group mt-3">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                    <div class="validate"></div>
                </div>
                <div class="col-md-3 form-group mt-3">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 form-group mt-3"></div>
                <div class="col-md-6 form-group mt-3">
                    <input type="password" name="password" class="form-control" id="password" data-rule="minlen:4" placeholder="Password" required>
                    <div class="validate"></div>
                </div>
                <div class="col-md-3 form-group mt-3"></div>
            </div>
            
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 form-group mt-3" >
                    <!-- <p id="error" style="color: red"></p> -->
                    {% for field in login_form %}
                        <p>
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        </p>
                    {% endfor %}
                    
                    {% if login_form.non_field_errors %}
                        <div style="color: red">
                            <p>{{ login_form.non_field_errors }}</p>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="text-center" ><button type="submit" style="background-color:#703757"; margin: 7px" class="btn btn-primary">Masuk</button></div>
            
            <div class="text-center">Belum punya akun? Yuk <a href="{% url 'register:register' %}" style="color:#333399"><strong>bikin</strong></a></div>
        </form>

    </div>
</section><!-- End Appointment Section -->
{% endblock %}
